.jumbotron {
  background-color: teal;
  color: black;
  margin-top: 50px;
}

footer {
  padding: 15px 15px 15px 15px;
  background-color: lightsalmon;
  margin-bottom: 0px;
  margin-top: 20px;
}

.card-juegos {
  flex: 0 250px;
  margin-top: 10px;
}

.btn-reserva {
  width: 100%;
  color: lightsalmon;
}

.footer-addres-icon {
  padding-right: 10px;
}

.tab-content {
  padding-top: 10px;
}

.carousel slide {
  position: relative;
  width: 122%;
}
