$yellow: #5c5c08;
$teal: #008080;
$lightsalmon: #ffa07a;
@mixin margenes ($top, $bottom){
  margin-top: $top;
  margin-bottom: $bottom;
}

.jumbotron {
  background-color: $teal;
  color: black;
  @include margenes (50px, 0px);
  margin-bottom: 20px;
}

footer {
  padding: 15px 15px 15px 15px;
  background-color: $lightsalmon;
  margin-bottom: 0px;
  @include margenes (20px, 0px);
}

.card-juegos {
  flex: 0 250px;
  @include margenes (10px, 0px);
}

.btn-reserva {
  width: 100%;
  color: $lightsalmon;
}

.footer-addres-icon {
  padding-right: 10px;
}

.tab-content {
  padding-top: 10px;
}

.carousel slide {
  position: relative;
  width: 122%;

}
