.jumbotron {
  background-color: #008080;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
  margin-bottom: 20px; }

footer {
  padding: 15px 15px 15px 15px;
  background-color: #ffa07a;
  margin-bottom: 0px;
  margin-top: 20px;
  margin-bottom: 0px; }

.card-juegos {
  flex: 0 250px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  color: #ffa07a; }

.footer-addres-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }

.carousel slide {
  position: relative;
  width: 122%; }
